body {
    font-family: 'Roboto';
    margin: 0;
    overflow: hidden;
    text-align: center;
    user-select: none;
}

.title {
    height: 10vh;
    width: 100vw;
}

.title table {
    border-collapse: collapse;
}

.title td {
    background-color: rgba(0, 0, 0, 0.15);
    color: black;
    font-size: 3.5vh;
    height: 10vh;
    padding: 0;
    width: 100vw;
}

.quest {
    height: 60vh;
    width: 100vw;
}

.quest table {
    border-collapse: collapse;
}

.quest td {
    color: black;
    font-size: 9vmin;
    height: 60vh;
    padding: 0;
    width: 100vw;
}

.info {
    height: 30vh;
    width: 100vw;
}

.info table {
    border-collapse: collapse;
}

.info td {
    background-color: rgba(0, 0, 0, 0.15);
    color: black;
    font-size: 3vh;
    height: 10vh;
    padding: 0;
    width: 100vw;
}

.info a {
    color: black;
    font-size: 2.5vh;
    text-decoration: none;
}
